* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%; /* Asegura que el html y body ocupen la altura completa */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column; /* Ordena los elementos en columna */
  font-family: "Roboto Slab", serif;
  background-color: #f5f5f5;
}

/* Wrapper principal que contendrá todo excepto el footer */
.main-content {
  flex: 1; /* Esto permite que el contenedor principal crezca y ocupe cualquier espacio restante */
  display: flex;
  flex-direction: column; /* También podrías usar 'row' dependiendo de tu diseño */
  overflow: hidden; /* Gestiona el desbordamiento */
}

header {
  background: #967aa1;
  color: #fff;
  padding: 10px 20px;
  font-size: larger;
  min-height: 90px;
  display: flex;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

footer {
  background: #aaa1c8;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
}

.img-container h1 {
  color: #192a51;
}

.img-container {
  position: relative;
  display: block;
  width: 70%;
  height: 200px;
  overflow: hidden;
}

.img-container .background-image {
  width: 100%; /* Asegura que la imagen cubra el ancho del contenedor */
  height: 100%; /* Mantén la proporción de la imagen */
  object-fit: cover;
  object-position: 100% 55%;
}

.img-container .image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #192a51;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .img-container {
    width: 100%; /* Ajusta el ancho a 100% para pantallas pequeñas */
    height: 100px; /* Ajusta la altura para pantallas pequeñas */
  }
  .img-container .image-overlay {
    font-size: medium;
  }
}
