.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.button a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.primary {
  background-color: #aaa1c8;
}

.primary:hover {
  background-color: #967aa1;
}

.secondary {
  background-color: #6c757d; /* Gris */
}

.secondary:hover {
  background-color: #545b62;
}
