.button {
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  min-width: 300px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.primary {
  background-color: #aaa1c8;
}

.primary:hover {
  background-color: #967aa1;
}

.secondary {
  background-color: #6c757d; /* Gris */
}

.secondary:hover {
  background-color: #545b62;
}
